<footer class="footer">
  <p>저작권 © <a href="https://opendevise.com" target="_blank" rel="noopener">OpenDevise Inc.</a> 및 <a href="https://antora.org">Antora</a>의 개인 기여자들. 사이트 배포는 <a href="https://vercel.com/" target="_blank" rel="noopener">Vercel</a>에 의해 이루어집니다.</p>
  <p>별도로 명시되지 않는 한, docs.antora.org, Antora 및 Antora UI는 <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License Version 2.0</a> (MPL-2.0)에 따라 라이선스가 부여됩니다.</p>
  <p>AsciiDoc®는 Eclipse Foundation, Inc.의 상표입니다.</p>
</footer>