<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">프로젝트</a>
          <div class="navbar-dropdown">
            <div class="navbar-item is-active"><strong>코어</strong></div>
            <a class="navbar-item" href="https://github.com/foreverfl/antora-ko">저장소</a>
            <a class="navbar-item" href="https://github.com/foreverfl/antora-ko/issues">이슈 트래커</a>
            <hr class="navbar-divider">
            <div class="navbar-item is-active"><strong>기본 UI</strong></div>
            <a class="navbar-item" href="#">저장소</a>
            <a class="navbar-item" href="#">이슈 트래커</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="#">기여하기</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">도구</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">빌드 자동화</a>
            <a class="navbar-item has-label" href="https://hub.docker.com/r/antora/antora">Docker 이미지 <small>(OCI)</small></a>
            <a class="navbar-item has-label" href="https://gitlab.com/antora/antora-maven-plugin">Maven 플러그인 <small>(Java)</small></a>
            <a class="navbar-item has-label" href="https://gitlab.com/antora/gradle-antora-plugin">Gradle 플러그인 <small>(Java)</small></a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="#">저작 / 미리보기</a>
            <a class="navbar-item has-label" href="https://intellij-asciidoc-plugin.ahus1.de/docs/users-guide/features/advanced/antora.html">AsciiDoc 플러그인 <small>(IntelliJ)</small></a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">언어</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://docs.antora.org/antora/latest/">English</a>
            <a class="navbar-item" href="#">日本語</a>
            <a class="navbar-item" href="#">한국어</a>
          </div>
        </div>
        <div class="navbar-item">
          <a href="https://mogumogu.dev">
            <img src="{{{uiRootPath}}}/blog.ico" alt="Blog Icon" style="width: 24px; height: 24px;">
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
